 //colors
 $darkBlue: #172339;
 $grayBlue: #49566d;
 $cream: #f3ede7;
 $almostWhite: #faf8f6;
 $lightViolet:#a060ff;
 $purple: #cb30e3;
 $lightOrange: #ffa84e;


 $maxWidth-mobile: 343;
 $maxWidth-tablet: 689;
 $maxWidth-desktop: 1110;