*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: #faf8f6;
}

.header-navbar,
.hero {
  max-width: 21.4375rem;
  margin: 0 auto;
}

.header {
  padding-top: 1.5rem;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navbar__cta {
  display: grid;
  place-content: center;
  display: grid;
  place-content: center;
  width: 11.375rem;
  height: 3rem;
  color: #172339;
  font-weight: 700;
  border-radius: 0.375rem;
  border: 1px solid #172339;
  font-size: 0.875rem;
  line-height: 1.71;
  letter-spacing: -0.14px;
}

.website-logo {
  width: 5.0625rem;
  height: 1.665625rem;
}

.hero {
  margin-top: 5.2075rem;
  position: relative;
}
.hero-txt__heading {
  font-size: 2.375rem;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -0.53px;
  color: #172339;
  position: relative;
}
.hero-txt__heading::before {
  content: "";
  background-image: url(../assets/pattern-curved-line-1.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 9.5rem;
  width: 100%;
  height: 100%;
  top: -1.75rem;
  right: 2.375rem;
  position: absolute;
}
.hero-txt__para {
  margin-top: 2rem;
  line-height: 1.75;
  letter-spacing: 0.088px;
  color: #49566d;
}
.hero-txt__cta {
  margin-top: 2rem;
  display: grid;
  place-content: center;
  background: #172339;
  color: #faf8f6;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.78;
  letter-spacing: -0.18px;
  width: 16rem;
  height: 3.8125rem;
  border-radius: 0.375rem;
}
.hero-img {
  margin-top: 3.48rem;
}
.hero-stats {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.hero-stats__txt__heading {
  font-size: 3rem;
  line-height: 1.17;
  color: #172339;
}
.hero-stats__txt__para {
  line-height: 1.62;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #49566d;
}

.founder {
  margin-top: 14.8125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #172339;
  border-radius: 0.9375rem;
  color: #faf8f6;
  text-align: center;
  padding: 0rem 1rem 4rem;
  position: relative;
}
.founder::after {
  content: "";
  background-image: url(../assets/pattern-curved-line-2.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.84875rem 3.125rem;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.founder-img {
  transform: translateY(-11.3125rem);
  position: relative;
}
.founder-img::before {
  content: "";
  background-image: url(../assets/pattern-blur.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 18.75rem;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -1.875rem;
  left: 0;
  z-index: -1;
}
.founder-txt__heading {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.42px;
}
.founder-txt__para, .founder-txt__name {
  margin-top: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.78;
}
.founder-txt__para {
  color: #f3ede7;
  letter-spacing: 0.09px;
}
.founder-txt__name {
  letter-spacing: -0.8px;
  text-transform: uppercase;
}
.founder-txt__position {
  line-height: 1.62;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #f3ede7;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.0625rem;
  margin: 3.5rem 0rem 5rem;
}
.footer-copyright {
  font-size: 0.9375rem;
  line-height: 2.13;
  letter-spacing: 0.083px;
  color: #49566d;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.75rem;
}
.footer-social ion-icon {
  font-size: 1.5rem;
  color: #172339;
}

@media (min-width: 768px) {
  .header-navbar,
  .hero,
  .founder,
  .footer {
    max-width: 43.0625rem;
    margin: 0 auto;
  }
  .header {
    padding-top: 2.5rem;
  }
  .header-navbar__cta {
    font-size: 1rem;
    display: grid;
    place-content: center;
    width: 13.6875rem;
    height: 3.5rem;
    color: #172339;
    font-weight: 700;
    border-radius: 0.375rem;
    border: 1px solid #172339;
    line-height: 2;
    letter-spacing: -0.16px;
  }
  .hero {
    margin-top: 5.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: flex-end;
  }
  .hero-txt {
    position: absolute;
    top: 16%;
    left: 0;
  }
  .hero-txt__heading {
    font-size: 3.5rem;
    line-height: 1.14;
    letter-spacing: -0.77px;
    width: 33.5625rem;
  }
  .hero-txt__heading::before {
    background-size: 14.5rem;
    top: -3.5rem;
    right: 5.375rem;
  }
  .hero-txt__para, .hero-txt__cta {
    margin-top: 2.5rem;
  }
  .hero-txt__para {
    width: 21.875rem;
  }
  .hero-img {
    margin: 0;
    grid-column: 2/3;
  }
  .hero-stats {
    margin-top: 5rem;
    flex-direction: row;
    justify-self: stretch;
    justify-content: space-around;
    grid-column: 1/3;
  }
  .founder {
    margin-top: 17.0625rem;
    padding: 0rem 3.625rem 4rem;
  }
  .founder::after {
    top: 40%;
  }
  .footer {
    margin: 4.5rem auto;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .header-navbar,
  .hero,
  .founder,
  .footer {
    max-width: 69.375rem;
    margin: 0 auto;
  }
  .header {
    padding-top: 3.125rem;
  }
  .header-navbar__cta {
    transition: all 0.2s ease;
  }
  .header-navbar__cta:hover {
    background-color: #172339;
    color: #faf8f6;
  }
  .hero {
    margin-top: 4.1875rem;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(17.875rem, auto);
  }
  .hero-txt__heading {
    font-size: 4.5rem;
    line-height: 1.08;
    letter-spacing: -1px;
    width: 39.6875rem;
  }
  .hero-txt__heading::before {
    background-size: 17.9375rem;
    top: -4.5rem;
    right: 3.375rem;
  }
  .hero-txt__para {
    font-size: 1.125rem;
    line-height: 1.78;
    letter-spacing: 0.1px;
  }
  .hero-txt__cta {
    margin-top: 3.25rem;
  }
  .hero-txt__cta:hover {
    background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  }
  .hero-txt-img {
    justify-self: center;
  }
  .hero-stats {
    grid-column: 3/4;
    flex-direction: column;
    margin-top: 0;
  }
  .founder {
    margin-top: 12.5rem;
    display: grid;
    grid-template-columns: minmax(auto, 31.125rem) 1fr;
    padding: 0 7.8125rem;
    height: 34.0625rem;
    position: relative;
  }
  .founder::after {
    top: 50%;
  }
  .founder-img {
    transform: translate(0);
    position: absolute;
    left: 7.5625rem;
    bottom: 0;
  }
  .founder-txt {
    text-align: left;
    width: 21.875rem;
    grid-column: 2/3;
  }
  .footer {
    margin: 5.9375rem auto 4.5rem;
  }
  .footer ion-icon:hover {
    color: #49566d;
  }
}

/*# sourceMappingURL=style.css.map */
